
/* ----------------- SECCION HEADER ----------------- */

.header .texto h1 {
    font-family: var(--fontFamily);
}

.header .texto p {
    font-size: larger;
    max-width: 270px;
}

.header .texto .input-group,
.header .texto input,
.header .texto .btn,
.header .texto input,
.header .filtro {
    max-width: 270px;
    border-radius: 50px;
    border: none;
}

.header .texto .input-group input:focus {
    box-shadow: none;
}

.header .list-group {
    background-color: white;
    max-width: 270px;
    max-height: 125px;
    border-radius: 15px;
    padding: 1% 2%;
    overflow: scroll;
    overflow-x: hidden;
}

.header .list-group .list-group-item {
    border: none;
    cursor: pointer;
}

.header .list-group .list-group-item:hover {
    background-color: #dad7cd;
}

.header {
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5)), url('https://cdn.pixabay.com/photo/2020/10/05/10/51/cat-5628953_960_720.jpg');
    background-size: cover;
    background-position: initial;
    height: 450px;
    color: white;
    border-radius: 50px 50px 0 0;
    padding: 7%;
}

.searched {
    min-height: 500px;
    background-color: var(--gris-claro);
    border-radius: 0 0 50px 50px;
    padding: 4% 8%;
}

/* ----------------- SECCION 'MOST SEARCHED BREEDS' ----------------- */

.searched h5 {
    font-weight: 400;
}

.searched .borde {
    padding: 1.5px;
    background-color: var(--bordo);
    width: 60px;
    border-radius: 25px;
}

.searched h1 {
    margin: 3% 0;
    font-weight: 700;
    max-width: 400px;
}

.searched .btn {
    font-weight: 700;
    color: var(--marron);
    margin-top: 9%;
}

.searched .btn:focus {
    border: none;
    box-shadow: none;
}

.searched .row .col-md-3 .img-1 {
    background-image: url("https://cdn2.thecatapi.com/images/ZocD-pQxd.jpg");
    background-position: center;
    background-size: cover;
    height: 215px;
    width: 215px;
    border-radius: 25px;
}

.searched .row .col-md-3 .img-2 {
    background-image: url("https://cdn2.thecatapi.com/images/G_2zGI5Wu.jpg");
    background-position: center;
    background-size: cover;
    height: 215px;
    width: 215px;
    border-radius: 25px;
}

.searched .row .col-md-3 .img-3 {
    background-image: url("https://cdn2.thecatapi.com/images/06dgGmEOV.jpg");
    background-position: center;
    background-size: cover;
    height: 215px;
    width: 215px;
    border-radius: 25px;
}

.searched .row .col-md-3 .img-4 {
    background-image: url("https://cdn2.thecatapi.com/images/5dF28H7__.jpg");
    background-position: center;
    background-size: cover;
    height: 215px;
    width: 215px;
    border-radius: 25px;
}

.searched .row .col-md-3 h6 {
    margin-top: 15px;
    font-weight: 700;
    color: var(--bordo);
}

/* ----------------- SECCION 'Why should you have a cat?' ----------------- */

.info {
    min-height: 100px;
}

.info .texto {
    max-width: 400px;
}

.info .borde, .container .borde {
    padding: 1.5px;
    background-color: var(--bordo);
    width: 60px;
    border-radius: 25px;
}

.info h1 {
    font-weight: 700;
}

.info p {
    font-weight: 600;
}

.info .btn {
    font-weight: 700;
    color: var(--marron);
    padding: 0;
}

.info .btn:focus {
    border: none;
    box-shadow: none;
}

.info img {
    border-radius: 25px;
}