.footer {
    height: 90px;
    background-color: black;
    color: white;
    margin: 0 7%;
    margin-top: 5%;
    border-radius: 50px 50px 0 0;
    padding: 3% 5%;
}

.footer h5 {
    font-family: var(--fontFamily);
}