@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --fontFamily: 'Pacifico', cursive;
    --bordo: #5c1717;
    --gris-claro: #dad7cd;
    --marron: #774936;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    margin: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}